@media screen and (max-width: 901px) {
   #main {
     width: 900px;
   }
 }

body {
   background-color: #9C835F;
   top: 0;
   font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* HEADER */
#header {
   
   display: flex;
   margin-top: 12px;
   height: 100px;
   align-items: center;
   justify-content: space-between;
   margin-left: 37px;
   width: 600px;
}

#header p {
   font-size: 36px;
   color: #F9B23D;
   font-weight: 700;
   
}

#img1-header {
   width: 35px;
   height: 35px;
}

#img2-header {
   width: 72px;
   height: 72px;
}

/* END-HEADER */

/* START MAIN */
#main {
   display: flex;
   flex: 1;   
   margin-left: 0;
}

#flex-1 p {
   margin-right: -0px;
}

#flex-3 p {
   margin-left: 50px;
}

#flex-1,
#flex-3 {
   display: flex;
   flex-direction: column;
   font-size: 36px;
   font-weight: 700;
   flex: 1;
}

#flex-1 {
   align-items: flex-end;
}

#flex-3 {
   align-items: flex-start
}

#flex-1 img,
#flex-3 img {
   display: flex;
   transition: background-color,transform 0.8s;
   margin-bottom: 10px;
   cursor: pointer;
   border-radius: 10px;
   padding: 30px;
}

#batu-el,
#batu-com {
   width: 128px;
   height: 92px;
   padding: 10px;
}

#kertas-el,
#kertas-com {
   width: 115px;
   height: 150px;
   padding: 10px;
}

#gunting-el,
#gunting-com {
   width: 134px;
   height: 160px;
   padding: 10px;
}

#flex-2 {
   position: relative;
   display: flex;
   flex-direction: column;
   flex: 1;
   justify-content: center;
   align-items: center;
}

#flex-2 img {
   position: absolute;
   width: 77px;
   height: 71px;
   margin-top: 700px;
   cursor: pointer;
   transition: transform 0.5s;
}

#flex-2 img:hover {
   transform: scale(1.5);
}

#batu-el:hover,
#gunting-el:hover,
#kertas-el:hover {
   background-color: rgba(240, 248, 255, 0.504);
   border-radius: 10px;
   transform: scale(1.25);
}

#batu-el:active,
#gunting-el:active,
#kertas-el:active {
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
}

#hasil-el,
#hasil-el1 {
   display: flex;
   position: absolute;
}

#hasil-el {
   font-size: 144px;
   color: #c20303;
   font-weight: 700;
   opacity: 1;
}

#hasil-el1 {
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-size: 38px;
   font-weight: 700;
   color: #FFFFFF;
   background-color: #099216;
   width: 180px;
   height: 110px;
   padding: 30px;
   opacity: 0;
   border-radius: 10px;
   transform: rotate(-30deg);
}

/* END MAIN */

